@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500&family=Krub:ital@1&family=Lato:wght@400;700&display=swap');
$Abhaya: "Abhaya Libre",
sans-serif;
$filson: "Filson Pro",
sans-serif;
$Neogrotesk: "Neogrotesk Ess Light",
sans-serif;
// colors
$dark: rgba(68,
73,
80,
1);
$light: #fff;
$primary: rgba(239,
166,
147,
1);
$gray: rgba(147,
147,
147,
1);
$secondly: #FB9887;
// spacing
$spacing-md: 16px;
$spacing-lg: 32px;
// border radius
$borderRadius: 12px;
// header height
$headerHeight: 100px;
//paddings buttons
$paddingButtons: 15px;
$borderRadius: 28px;
@mixin breakpoint($point) {
    @if $point==md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    }
}
